<div class="container mt-5">
  <form action="/restaurants" method="POST" class="row g-3">
    <div class="col-md-6">
      <label for="inputChineseName" class="form-label">中文名字</label>
      <input type="text" class="form-control mb-3" id="inputChineseName" name="name" required>
    </div>
    <div class="col-md-6">
      <label for="inputEnglishName" class="form-label">英文名字</label>
      <input type="text" class="form-control mb-3" id="inputEnglishName" name="name_en">
    </div>
    <div class="col-12">
      <label for="inputState" class="form-label">類型</label>
      <select id="inputState" class="form-select mb-3" name="category" required>
        <option selected disabled value="">Choose...</option>
        <option>日本料理</option>
        <option>義式餐廳</option>
        <option>中東料理</option>
        <option>美式</option>
        <option>酒吧</option>
        <option>咖啡廳</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputImage" class="form-label">參考照片</label>
      <input type="text" class="form-control mb-3" id="inputImage" name="image">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">地址</label>
      <input type="text" class="form-control mb-3" id="inputAddress" name="location" required>
    </div>
    <div class="col-12">
      <label for="inputNumber" class="form-label">電話</label>
      <input type="text" class="form-control mb-3" id="inputNumber" placeholder="請輸入電話" name="phone" required>
    </div>
    <div class="col-12">
      <label for="inputIntro" class="form-label">簡介</label>
      <input type="text" class="form-control mb-3" id="inputIntro" name="description">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>